<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Welcome to fazbook</h1>
     <a href="/users/new">Create a new user</a>


      <% users.forEach(function(user) {%>
  <div>
  <!--
   <a href="/users/show/<%=`${user.id}`%>"> <span><%=user.firstName%></span> </a>
   -->
   <a href="<%=`/users/${user.id}`%>"> <%=user.firstName%>:View User page</a>
   <form action="<%= `/users/${user.id}?_method=DELETE` %>" method="POST">
          <button class="btn btn-danger btn-sm">
               <i class="fa fa-trash-o fa-lg"></i>Delete
          </button>
    </form>

  </div>

 <% }); %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  </body>
</html>
