<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Welcome to fazbook</h1>
    <div>

<!--
        <ul>
                      <li>
                          <a href="users/<%= user[i]/edit%>">
                          <div>
                                  <span><%=user.firstName%></span>
                                  <span><%=user.lastName%></span>
                                  <span><%=user.email%></span>
                                  <span><%=user.dob%></span>
                            </div>
                           </a>
                        </li>
          </ul>
-->
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  </body>
</html>
